<!DOCTYPE html>
<html lang="en">

<%- include("../global/header.ejs", {cssPath:"/ressources/css/mainPage.css"}); %>

<body>
    <div class="mainContainer">
        <script src="/ressources/js/mainPage.js" defer></script>
        <%- include("../global/head.ejs") %> 
        <div class="middle">
            <div class="title">
                <div class="upTitle">VOICES OF</div>
                <div class="botTitle">LEGENDS</div>
            </div>
            <div class="levelParameter">
                <p>Difficultée</p>
                <select class="difficulty">
                    <option value="0">Facile</option>
                    <option value="1">Moyen</option>
                </select>
                <p class="levelDesc">Avec les son de pick des champions</p>
            </div>
            <div class="userBanner">
                <div class="userBackBanner"></div>
                <div class="userLevelRing"></div>
                <div class="userProfileIcon"></div>
                <div class="userLevel">110</div>
            </div>
            <div class="lauchContainer">
                <div class="lauchGame">Jouer</div>
            </div>
        </div>
        <div class="bottom"></div>
    </div>
</body>

</html>