<script src="/ressources/js/popup.js" defer></script>
<div class="popupContainer">
    <div class="popup">
        <div class="title">Ceci est un braquage</div>
        <div class="content">Lorem , dolor sit amet consectetur adipisicing elit. Soluta tempore consequatur adipisci iste eaque, tempora deserunt voluptatem magnam nulla saepe mollitia. Iusto omnis soluta itaque magni sunt? Sit, rerum architecto.</div>
        <div class="quitButton hoverable">Confimer</div>
    </div>
</div>