<!DOCTYPE html>
<html lang="en">
    <%- include("../global/header.ejs", {cssPath:"/ressources/css/pixelGuessStyle.css"}); %>

<body>
    <script src="/ressources/js/pixelGuess.js" defer></script>
    <img src="/ressources/images/league/champions/Pyke/Pyke.jpg" alt="" id="image1" hidden>
</body>
</html>