@charset "UTF-8";
html,
body {
  -moz-user-select: none;
  /* Firefox */
  -webkit-user-select: none;
  /* Chrome, Safari, Opéra depuis la version 15 */
  -ms-user-select: none;
  /* Internet explorer depuis la version 10 et Edge */
  user-select: none;
  /* Propriété standard */
  cursor: url("/ressources/images/league/other/cursor/hover_precise.png"), auto;
}

html,
body {
  border: 0;
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Courier New", Courier, monospace;
}
html .mainContainer,
body .mainContainer {
  z-index: -2;
  color: #9AAFB4;
  background-image: url("https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-static-assets/global/default/images/npe-ft-league-button-bg.png");
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
html .mainContainer .header,
body .mainContainer .header {
  width: 100%;
  background-color: #000000;
  border-top: 3px solid #389938;
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
}
html .mainContainer .header .col1,
body .mainContainer .header .col1 {
  height: 100%;
  flex: 1;
}
html .mainContainer .header .col2,
body .mainContainer .header .col2 {
  height: 100%;
  flex: 10;
  display: flex;
  flex-flow: column nowrap;
}
html .mainContainer .header .col2 .line1,
body .mainContainer .header .col2 .line1 {
  flex: 1;
  border-bottom: 1px solid #d3d1d1;
  border-left: 2px solid #d3d1d1;
  border-right: 2px solid #d3d1d1;
  width: 100%;
}
html .mainContainer .header .col2 .line2,
body .mainContainer .header .col2 .line2 {
  flex: 1;
  width: 100%;
  border-left: 2px solid #d3d1d1;
  border-right: 2px solid #d3d1d1;
}
html .mainContainer .header .col3,
body .mainContainer .header .col3 {
  height: 100%;
  flex: 1;
}
html .mainContainer .middle,
body .mainContainer .middle {
  width: 100%;
  flex: 9;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
html .mainContainer .middle .title,
body .mainContainer .middle .title {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  font-size: xx-large;
}
html .mainContainer .middle .levelParameter,
body .mainContainer .middle .levelParameter {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
html .mainContainer .middle .userBanner,
body .mainContainer .middle .userBanner {
  flex: 5;
  display: flex;
  justify-content: center;
}
html .mainContainer .middle .userBanner .userBackBanner,
body .mainContainer .middle .userBanner .userBackBanner {
  height: 400px;
  width: 200px;
  position: fixed;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  background-image: url("https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-static-assets/global/default/images/current-player-banner.png");
}
html .mainContainer .middle .userBanner .userLevelRing,
body .mainContainer .middle .userBanner .userLevelRing {
  z-index: 2;
  position: fixed;
  height: 150px;
  width: 150px;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  background-image: url("https://raw.communitydragon.org/pbe/plugins/rcp-fe-lol-static-assets/global/default/images/uikit/themed-level-ring/theme-10-solid-border.png");
}
html .mainContainer .middle .userBanner .userProfileIcon,
body .mainContainer .middle .userBanner .userProfileIcon {
  z-index: 1;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  background-image: url("https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/profile-icons/4221.jpg");
  height: 84px;
  width: 84px;
  border-radius: 50%;
  margin-top: 33px;
}
html .mainContainer .middle .userBanner .userLevel,
body .mainContainer .middle .userBanner .userLevel {
  z-index: 2;
  margin-top: 112px;
  position: fixed;
}
html .mainContainer .middle .lauchContainer,
body .mainContainer .middle .lauchContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
html .mainContainer .middle .lauchContainer .lauchGame,
body .mainContainer .middle .lauchContainer .lauchGame {
  flex: 1;
  width: 150px;
  height: 50px;
  background-image: url("https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-static-assets/global/default/images/button-accept-default.png");
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: url("/ressources/images/league/other/cursor/hover_ally_precise.png"), auto;
}
html .mainContainer .bottom,
body .mainContainer .bottom {
  flex: 3;
  width: 100%;
}