body {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: #2d0eb8;
}
body .mainContainer .footer {
  position: fixed;
  height: 300px;
  width: 100%;
  background-color: beige;
  bottom: 0;
}
body .mainContainer .footer .championPannel {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
}
body .mainContainer .footer .championPannel .championCase {
  background-image: url("/ressources/images/league/champions/Pyke/Pyke.jpg");
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  border: 2px solid black;
  width: 100%;
  flex: 1;
  transition: flex 0.5s;
}
body .mainContainer .footer .championPannel .championCase:hover {
  flex: 4;
}