@charset "UTF-8";
html,
body {
  -moz-user-select: none;
  /* Firefox */
  -webkit-user-select: none;
  /* Chrome, Safari, Opéra depuis la version 15 */
  -ms-user-select: none;
  /* Internet explorer depuis la version 10 et Edge */
  user-select: none;
  /* Propriété standard */
  cursor: url("/ressources/images/league/other/cursor/hover_precise.png"), auto;
  font-family: Courier, monospace;
}
html *,
body * {
  color: #8d8112;
}

html,
body {
  border: 0;
  padding: 0;
  margin: 0;
  height: 100%;
}
html .background,
body .background {
  background-image: url("/ressources/images/league/background/bg_1.jpg");
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  filter: blur(3rem);
  -webkit-filter: blur(3rem);
  -moz-filter: blur(3rem);
  -o-filter: blur(3rem);
  -ms-filter: blur(3rem);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}
html .mainContainer,
body .mainContainer {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
html .mainContainer .header,
body .mainContainer .header {
  width: 100%;
  background-color: #000000;
  border-top: 3px solid #389938;
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
}
html .mainContainer .header .col1,
body .mainContainer .header .col1 {
  height: 100%;
  flex: 1;
}
html .mainContainer .header .col2,
body .mainContainer .header .col2 {
  height: 100%;
  flex: 10;
  display: flex;
  flex-flow: column nowrap;
}
html .mainContainer .header .col2 .line1,
body .mainContainer .header .col2 .line1 {
  flex: 1;
  border-bottom: 1px solid #d3d1d1;
  border-left: 2px solid #d3d1d1;
  border-right: 2px solid #d3d1d1;
  width: 100%;
}
html .mainContainer .header .col2 .line2,
body .mainContainer .header .col2 .line2 {
  flex: 1;
  width: 100%;
  border-left: 2px solid #d3d1d1;
  border-right: 2px solid #d3d1d1;
}
html .mainContainer .header .col3,
body .mainContainer .header .col3 {
  height: 100%;
  flex: 1;
}
html .mainContainer .middle,
body .mainContainer .middle {
  width: 100%;
  flex: 9;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
html .mainContainer .middle > .gameInfo > *,
body .mainContainer .middle > .gameInfo > * {
  display: flex;
  flex-flow: column nowrap;
}
html .mainContainer .middle > .gameInfo > * .text,
body .mainContainer .middle > .gameInfo > * .text {
  font-size: large;
  color: #d3d1d1;
}
html .mainContainer .middle > .gameInfo > * .value,
body .mainContainer .middle > .gameInfo > * .value {
  font-size: larger;
  color: burlywood;
}
html .mainContainer .middle > .championSelect > .goBack,
html .mainContainer .middle .goNext,
body .mainContainer .middle > .championSelect > .goBack,
body .mainContainer .middle .goNext {
  color: aliceblue;
  font-size: 70px;
  display: flex;
  align-items: center;
}
html .mainContainer .middle > .championSelect > .goBack:hover,
html .mainContainer .middle .goNext:hover,
body .mainContainer .middle > .championSelect > .goBack:hover,
body .mainContainer .middle .goNext:hover {
  cursor: pointer;
}
html .mainContainer .middle > .askChampion > *,
body .mainContainer .middle > .askChampion > * {
  border-radius: 2px;
  background-color: white;
  margin-right: 20px;
}
html .mainContainer .middle .gameInfo,
body .mainContainer .middle .gameInfo {
  width: 100%;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
}
html .mainContainer .middle .gameInfo .champCounter,
body .mainContainer .middle .gameInfo .champCounter {
  height: 100%;
  flex: 1;
  align-items: flex-end;
}
html .mainContainer .middle .gameInfo .timer,
body .mainContainer .middle .gameInfo .timer {
  height: 100%;
  flex: 1;
  align-items: center;
}
html .mainContainer .middle .gameInfo .difficulty,
body .mainContainer .middle .gameInfo .difficulty {
  height: 100%;
  flex: 1;
  align-items: flex-start;
}
html .mainContainer .middle .championSelect,
body .mainContainer .middle .championSelect {
  justify-content: center;
  width: 100%;
  flex: 3;
  display: flex;
  flex-flow: row nowrap;
}
html .mainContainer .middle .championSelect .goBack,
body .mainContainer .middle .championSelect .goBack {
  justify-content: flex-end;
}
html .mainContainer .middle .championSelect .goBack::before,
body .mainContainer .middle .championSelect .goBack::before {
  content: "<";
}
html .mainContainer .middle .championSelect .currentChampion,
body .mainContainer .middle .championSelect .currentChampion {
  display: flex;
  align-items: center;
  justify-content: center;
}
html .mainContainer .middle .championSelect .currentChampion .circle,
body .mainContainer .middle .championSelect .currentChampion .circle {
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 50%;
  background-color: #fdfdfd;
  height: 100px;
  width: 100px;
  background-image: url("/ressources/images/league/other/anonymous.png");
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: 70px;
  /* Resize the background image to cover the entire container */
}
html .mainContainer .middle .championSelect .goNext,
body .mainContainer .middle .championSelect .goNext {
  justify-content: flex-start;
}
html .mainContainer .middle .championSelect .goNext::after,
body .mainContainer .middle .championSelect .goNext::after {
  content: ">";
}
html .mainContainer .middle .askChampion,
body .mainContainer .middle .askChampion {
  flex: 3;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
}
html .mainContainer .middle .askChampion .button,
body .mainContainer .middle .askChampion .button {
  width: 50px;
  height: 50px;
  border: none;
}
html .mainContainer .middle .askChampion .button:hover,
body .mainContainer .middle .askChampion .button:hover {
  cursor: pointer;
}
html .mainContainer .middle .askChampion .playSound,
body .mainContainer .middle .askChampion .playSound {
  background-image: url("/ressources/images/league/other/playSound.png");
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: 50%;
}
html .mainContainer .middle .askChampion .relauch,
body .mainContainer .middle .askChampion .relauch {
  background-image: url("/ressources/images/league/other/repeat.png");
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: 50%;
}
html .mainContainer .middle .askChampion .hint,
body .mainContainer .middle .askChampion .hint {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
html .mainContainer .middle .askChampion .response > .value,
body .mainContainer .middle .askChampion .response > .value {
  content: "champion";
}
html .mainContainer .middle .askChampion input,
body .mainContainer .middle .askChampion input {
  width: 400px;
  height: 50px;
  border: none;
  font-size: xx-large;
}
html .mainContainer .middle .champHint,
body .mainContainer .middle .champHint {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  color: bisque;
}
html .mainContainer .footer,
body .mainContainer .footer {
  flex: 3;
  width: 100%;
  display: block;
}
html .mainContainer .footer .championPannel,
body .mainContainer .footer .championPannel {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
}
html .mainContainer .footer .championPannel .championCase,
body .mainContainer .footer .championPannel .championCase {
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  border-top: 6px solid #2d792d;
  width: 100%;
  flex: 1;
  transition: flex 0.5s;
}
html .mainContainer .footer .championPannel .anonymous,
body .mainContainer .footer .championPannel .anonymous {
  background-image: url("/ressources/images/league/other/anonymous_2.png");
  background-color: #34363a;
  background-size: 70px;
}
html .mainContainer .footer .championPannel .anonymous:hover,
body .mainContainer .footer .championPannel .anonymous:hover {
  background-color: bisque;
}
html .mainContainer .footer .championPannel .anonymous.selected,
body .mainContainer .footer .championPannel .anonymous.selected {
  background-color: bisque;
}
html .mainContainer .footer .championPannel .selected:not(.anonymous),
body .mainContainer .footer .championPannel .selected:not(.anonymous) {
  border: 6px solid #2d792d;
}