@import './global.scss';

html,
body {
    margin: 0;
    padding: 0;
    display:flex;
    align-items: center;
    justify-content: center;

    #image1 {
        width: 800px;
        height: auto;
      }
  }