html,
body {
    border: 0;
    padding: 0;
    margin: 0;
    height: 100%;
    .background {
        background-image: url("/ressources/images/league/background/bg_1.jpg");
        background-position: center;
        /* Center the image */
        background-repeat: no-repeat;
        /* Do not repeat the image */
        background-size: cover;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
    }
}