.mainContainer {
    .middle {}
    .footer {
        position: fixed;
        height: 300px;
        width: 100%;
        background-color: beige;
        bottom: 0;
        .championPannel {
            display: flex;
            flex-flow: row nowrap;
            height: 100%;
            .championCase {
                background-image: url("/ressources/League/Champion/Pyke/Pyke.jpg");
                background-position: center;
                /* Center the image */
                background-repeat: no-repeat;
                /* Do not repeat the image */
                background-size: cover;
                /* Resize the background image to cover the entire container */
                border: 2px solid black;
                width: 100%;
                flex: 1;
                transition: flex 0.5s;
                &:hover {
                    flex: 4;
                }
            }
        }
    }
}